name: CI-CD Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Backend Image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/dd-backend:latest ./backend
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/dd-backend:latest

    - name: Build Frontend Image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/dd-frontend:latest ./frontend
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/dd-frontend:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ubuntu
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd ~
          docker compose down
          docker compose pull
          docker compose up -d